@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

.input {
  @apply border p-2 w-full rounded;
}

.btn-primary {
  @apply bg-black text-white px-4 py-2 rounded;
}

.card {
  @apply border p-4 rounded mt-2 bg-white;
}

.btn-secondary {
  @apply border border-black text-black px-4 py-2 rounded;
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.glass-strong {
  @apply bg-white/10 backdrop-blur-2xl border border-white/20;
}